.flights {
  width: 100%;
  margin-top: 2in;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.search {
  background-color: #496da1;
  padding: 15px 15px;
  height: 10px;
  color: white;
  border-radius: 20px;
  border-color: #496da1;
  display: block;
  line-height: 0px;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 15px;
}

.font {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 15px;
}

.input {
  width: 120px;
  height: 30px;
  padding: 10px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #496da1;
  background-color: rgba(253, 255, 252, 0.9);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
