.header {
  background-color: rgb(253, 131, 103);
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.logo {
  max-width: 50%;
  max-height: 50%;
  position: inherit;
}
